.section__content{
  margin: 1rem auto;
  background-color: rgba(211,211,211, 0.5);
  box-shadow: var(--second-shadow);
}

.profil_container {
  width: 40%;
  display: flex; 
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: auto auto 1rem 1rem;
  float: right;
  box-shadow: var(--main-shadow);
}
.profil {
  width: 100%;
  height: auto;
  
}
.content {
  margin: 2rem 0;
}
.content_name {
  color: var(--main-color);
}
.content p {
  text-align: justify;
}

.title,
.description {
  text-align: center;
}
.main__banner_logo {
  width: 100%;
  object-fit: scale-down;
  z-index: 2
}
.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.logo {
  height: 1rem;
  margin-left: 0.5rem;
}
.main__footer {
  display:flex;
  justify-content: center;
  align-items: center;
}
.main__footer_link {
  padding: 1rem;
  margin-top: 1.5rem;
  background: var(--main-color);
  color: white;
  font-size: 1.5rem;
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (min-width: 640px){
 
  .title {
    margin-top: 2rem;
    text-align: center;
  }
 
  .profil_container{
    width : 30%;
    float: right;
    margin-left: 5%
  }
  .main__footer_link:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
  
}

